<!-- 
<div class="containers">
    <div class="row">
      <div class="col-sm-4">
         <div class="class_img">
     <img  class="cursor-pointer" src="https://scontent.fcdg3-1.fna.fbcdn.net/v/t1.0-9/127717678_708801933374148_7070472952528626387_n.jpg?_nc_cat=110&ccb=2&_nc_sid=730e14&_nc_ohc=B8cJ6NwWEisAX-Uv4jr&_nc_ht=scontent.fcdg3-1.fna&oh=16985f1cbac17e4a3e449bffc7021d65&oe=5FE5B1C7" alt="">
 </div>
      </div>
      <div class="col-sm-4">
        <div class="class_img">
            <img  class="cursor-pointer" src="https://scontent.fcdg3-1.fna.fbcdn.net/v/t1.0-9/118960264_646931279561214_4357981380142670002_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=xmTNw_yjC1sAX9pSHez&_nc_ht=scontent.fcdg3-1.fna&oh=001c1b33cb0ec0788059e0e7255d331b&oe=5FE6759D" alt="">
        </div>
      </div>
      <div class="col-sm-4">
 
  <div class="class_img">
    <img  class="cursor-pointer" src="https://scontent.fcdg3-1.fna.fbcdn.net/v/t1.0-9/125433921_700612677526407_2915415277071022174_n.jpg?_nc_cat=105&ccb=2&_nc_sid=730e14&_nc_ohc=PJSkydq2QFAAX_T2Be1&_nc_ht=scontent.fcdg3-1.fna&oh=b0af3cb2d96b34b0319d7ecef7ecf576&oe=5FE8D8B3" alt="">
</div>
      </div>
    </div>
  </div>  
 -->